<section fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start start">
<div fxLayout="row" fxLayoutAlign="start start">
  <select id="sort-by" (change)="filter($event)">
    <option value="" selected disabled hidden>Sort By</option>
    <option value="Low">Show Low to High Price</option>
    <option value="High">Show High to Low Price</option>
</select>
</div>


  <div class="app-container d-flex flex-wrap">
    <ng-container *ngFor="let product of products; index as index">
      <app-p-tile [product]="product" (clicked)="buyNow()" fxFlex="20%" fxFlex.sm="25%" fxFlex.xs="50%"  [fxHide]="index >= 10 && !loadAll"></app-p-tile>
    </ng-container>


  </div>

  <button class="load-all text-center" mat-raised-button color="primary" *ngIf="!loadAll" (click)="loadAll = true" translate>Load
    more</button>

</section>
<!-- Ends Home -->
